* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 50, 13);
  display: flex;
  gap: 25%;
}

.logo {
  color: white;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 7px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 40%;
}

.button {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  display: flex;
  gap: 20px;
  padding-right: 10px;
}

.btn {
  text-decoration: none;
  color: white;
  width: auto;
  height: 80%;
  text-align: center;
  padding-top: 11px;
  font-size: 15px;
  padding-left: 7px;
  padding-right: 7px;
}

a.btn:hover {
  text-decoration: none;
  color: rgb(3, 50, 13);
  background-color: white;
  width: auto;
  height: 80%;
  text-align: center;
  border-radius: 15px;
}

a {
  text-decoration: none;
}
.image {
  width: 100%;
  height: auto;
  margin-top: 2px;
}

.one_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
  border-color: rgb(3, 50, 13);
}

.image_container img {
  width: 300px;
  height: auto;
  background-color: rgb(3, 50, 13);
  margin-left: 85px;
  border-radius: 100%;
}

.text_container {
  width: 50%;
  color: rgb(3, 50, 13);
  font-size: x-large;
  margin-left: 85px;
}
.skills {
  width: 100%;
  height: 80px;
  /* background-color: black; */
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  margin-left: 50px;
}
.s {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(3, 50, 13);
  color: white;
  border-radius: 50px;
  font-size: larger;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 100px;
  padding-bottom: 10px;
  padding-top: 20px;
  scroll-behavior: smooth;
  background-color: rgb(3, 50, 13);
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
