* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 50, 13);
  display: flex;
  gap: 25%;
}

.logo {
  color: white;
  font-size: 30px;
  padding-left: 50px;
  padding-top: 7px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 40%;
}

.button {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  display: flex;
  gap: 20px;
  padding-right: 10px;
}

.btn {
  text-decoration: none;
  color: white;
  width: auto;
  height: 80%;
  text-align: center;
  padding-top: 11px;
  font-size: 15px;
  padding-left: 7px;
  padding-right: 7px;
}

a.btn:hover {
  text-decoration: none;
  color: rgb(3, 50, 13);
  background-color: white;
  width: auto;
  height: 80%;
  text-align: center;
  border-radius: 15px;
}

a {
  text-decoration: none;
}
.container {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
.image_container img {
  width: 500px;
  height: auto;
}
.text_container {
  width: 50%;
  color: rgb(3, 50, 13);
  font-size: x-large;
}
.image img {
  width: 400px;
  height: auto;
}
